<!DOCTYPE html>
<html lang="no">
  <head>
    <meta charset="UTF-8" />
    <title>ESP32 Temperaturgraf</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    
  </head>
  <body>
    <div class="grid">
      <div class="card">{% include "sensors/graph_temp.html" %}</div>
      <div class="card">{% include "sensors/graph_humid.html" %}</div>
      <div class="card">{% include "sensors/graph_pressure.html" %}</div>
      <div class="card">{% include "sensors/graph_light.html" %}</div>
    </div>
  </body>
</html>
