<!DOCTYPE html>
<html lang="no">
  <head>
    <meta charset="UTF-8" />
    <title>Værstasjonsdata for fysikkprosjekt</title>
    {% load static %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
    <script src="{% static 'js/dashboard.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
  </head>
  <body>
    <h1>Værstasjonsdata for fysikkprosjekt</h1>
    <p>Laget av: Jon Bjarne Bø & Thomas Angell Storhaug</p>

    <fieldset class="filter-controls">
      <legend>Filtrering:</legend>

      <div class="filter-group">
        <strong>Velg plassering:</strong><br />
        <label><input type="checkbox" value="Sandnes" checked /> Sandnes</label>
        <label><input type="checkbox" value="Stavanger" checked /> Stavanger</label>
      </div>

      <div class="filter-group">
        <label for="global-range"><strong>Velg periode:</strong></label
        ><br />
        <select id="global-range">
          <option value="day">I dag</option>
          <option value="month" selected>Denne måneden</option>
          <option value="year">Dette året</option>
        </select>
      </div>
    </fieldset>

    <div class="grid">
      {% for location in locations %} {% for field in field_data %}
      <div class="card location-{{ location }}">
        {% include "sensors/graph_base.html" with location=location field=field.key unit=field.unit field_label=field.label only%}
      </div>
      {% endfor %} {% endfor %}
    </div>
    <p>Er du interessert i prosjektet og ønsker å lese mer om oppsett av sensorer mm. kan du kikke mer på det <a href="#">her</a></p>
    <a class="button-link" href="/api/sensor-data/export.csv">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
        <path
          d="M3 14a1 1 0 011-1h3v-4h4v4h3a1 1 0 011 1v3H3v-3zM9 1a1 1 0 012 0v8.586l2.293-2.293a1 1 0 011.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4A1 1 0 015.707 7.293L8 9.586V1z"
        />
      </svg>
      Last ned hele datasettet
    </a>
  </body>
</html>
